@font-face {
  font-family: "Rosario-Regular";
  font-style: normal;
  src: local("Rosario-Regular"), url("assets/fonts/Rosario/static/Rosario-Regular.ttf");
}

body {
  margin: 0;
  font-family: "Rosario-Regular", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
